.wrapper {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: lightgrey;
    box-shadow: 5px 15px 15px -5px;

}

body{
    margin-top: 175px;
}


h1 {
    padding-left: 23%;
    font-size: 50px;
    text-decoration: underline;
    text-shadow: -1px 1px 0 #ffff, 1px 1px 0 #ffff, 1px -1px 0 #ffff;-1px -1px 0 #ffff;

}

h2{
    padding-left: 25%;
    color: darkblue;
}

h3 {
    padding-left: 25%;
    color: dimgrey;
}

span{
    padding-left: 25%;

}